<ion-view title="Tabs Controller">
    <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Últimas" icon="ion-home" href="#/main/last">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Importantes" icon="ion-star" href="#/main/starred">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Agendadas" icon="ion-android-alarm-clock" href="#/main/scheduled">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
